html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='/js/3rd/md5-min.js')
		script(src='/js/login/login.js')
		link(rel='stylesheet', href='/stylesheets/style.css') 	
		title= title
	body		
		h1 Login
		form(method='POST', action='/session', name='login_form')
			p
				label(for='login') Login:
				input(type='text', name='login_username', id='login_username')
			p
				label(for='password') Password:
				input(type='password', name='login_password', id='login_password')
				input(type='hidden', id='login_hashpassword', name='login_hashpassword', value="")
			p
				input(type='button', id='login_btn', value='Login')
