script
	function saveUsersKanban(){
		var selected = [];
		$("input:checkbox[name=user]:checked").each(function() {
			selected.push($(this).val());
		});
		var kanban = new Object();
		kanban.id = #{kanbanId};
		kanban.users = selected;
		$.post('/kanban/#{kanbanId}/users', kanban,
			function(data){
				alert('Saved');
			});
		
	}

h1 KanbanUsers

table#kanban_users_table.table.table-condensed
	thead
		tr
			td Username
			td
	tbody
		!= partial('user', {collection: users});


input(type='button', id='user_kanban_submit', value='Save', onclick='saveUsersKanban()')

