html
	head
		link(rel='stylesheet', href='/stylesheets/kanban/kanban.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js')
		script(src='/js/model/AddFunctions.js')
		script(src='/js/html/kanbanHtml.js')
		script(src='/js/model/kanban.js')	
		script(src='/js/model/spot.js')
		script(src='/js/model/postit.js')
		script
			$(function(){
				$.get('/kanban/#{kanbanId}/content', function(data){
					var resp = JSON.parse(data);
					count = 0;
					kanban = new Kanban(#{kanbanId});
					var spots = resp.spots;
					var postits = resp.pits;
					for(var i = 0; i < spots.length; i++){
						var spot = new Spot(spots[i].id, spots[i].title);
						
						var spotPostIts = postits[spot.getId()];
						if(spotPostIts){
							for(var j = 0; j < spotPostIts.length; j++){
								var pit = spotPostIts[j];
								var postIt = new PostIt(pit.id, pit.text);
								spot.addPostIt(postIt);
							}		
						}

						kanban.addSpot(spot);						

						$('#new_postit_spot').append($('<option>', { value : spots[i].id }).text(spots[i].title));
					}					

					kanban.build("local"); 
					$('#new_spot_kanbanId').val(#{kanbanId});
					$('#new_postit_kanbanId').val(#{kanbanId});
				})
			});

			function openNewPostItDiv(){
				$('#new_postit_div').toggle();
			}
			
			function openNewSpotDiv(){
				$('#new_spot_div').toggle();
			}

			function deletePostIt(id){
				var pit = kanban.getPostIt(id);
				pit.del();
			}

			function deleteSpot(id){
				var spot = kanban.getSpotById(id);
				spot.del();
			}

			function newSpot(){
				var title = $('#new_spot_title').val();
				var description = $('#new_spot_description').val();
				var kanbanId = $('#new_spot_kanbanId').val();
				
				var params = {
					title : title,
					description: description,
					kanbanId: kanbanId
				};

				$.post('/spot/new', params, function(data) {
					params.id  = data.spotId;
					kanban.sendNewSpotMsg(params);
				});
			}

			function newPostit(){			
				var txt = $('#new_postit_text').val();
				var spotId = $('#new_postit_spot').val();
				var kanbanId = $('#new_spot_kanbanId').val();

				var params = {
					txt: txt,
					spotId: spotId,
					kanbanId: kanbanId
				}

				$.post('/postit/new', params, function(data){
					params.postItId = data.postItId;
					kanban.sendNewPostItMsg(params);
				});
			}

	body
		- if(typeof(save_error) != 'undefined')
			!= save_error
		
		label(for='new_spot_label_open_div', onclick='openNewSpotDiv()') New Spot:
		label(for='new_postit_label_open_div', onclick='openNewPostItDiv()') New Posit:
		div(id='local')
		div(id='new_spot_div', class='popup')
			p
				label(for='new_spot_title_label') Title:
				input(type='text', name='new_spot_title', id='new_spot_title')
			p
				label(for='new_spot_description_label') Description:
				input(type='text', name='new_spot_description', id='new_spot_description')
				input(type='hidden', id='new_spot_kanbanId', name='new_spot_kanbanId', value='')
			p
				input(type='button', id='new_spot_submit', value='New Spot', onclick='newSpot()')
		div(id='new_postit_div', class='popup')
			p
				label(for='new_postit_text_label') Title:
				input(type='text', name='new_postit_text', id='new_postit_text')
			p
				label(for='new_postit_spot_label') Spot:
				select(name='new_postit_spot', id='new_postit_spot')
				input(type='hidden', id='new_postit_kanbanId', name='new_postit_kanbanId', value='')

			p
				input(type='button', id='new_spot_submit', value='New Postit', onclick='newPostit()')

		div(id='kanban_save_div')
			p
				input(type='button', id='kanban_save_btn', value='Save', onclick='kanban.save();')
