h1 Kanbans
table#kanbans_table.table.table-condensed
	thead
		tr
			th Name
			if user.role == 1
				th Users
	tbody
		!= partial('kanban', {collection: kanbans});

- if (user.role == 1)
	p
		a(href="/kanban/new", class='btn') Add
