h1 Login                                                                                     
form(action='/kanban/new', method='POST')
	p
		label(for='title') Title:
		input(type='text', name='title', id='title')
	p
		label(for='description') Description:
		input(type='text', name='description', id='description')
	p
		input(type='submit')
