h1=title                                                                                     
	form(action='/kanban/new', method='POST')
		p
			label(for='kanban_title') Title:
			input(type='text', name='kanban_title', id='kanban_title')
		p
			label(for='kanban_description') Description:
			input(type='text', name='kanban_description', id='kanban_description')
		p
			input(type='submit')
